.user-list{
    border: 2px solid var(--border-color-1);
    height: 100vh;
    width: 30vw;
    float: left;
    background-color: var(--bg-color-1);
}

.user{
    border-bottom: 2px solid var(--border-color-1);
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
}

.profile-pic{
    border: 2px solid var(--border-color-1);
    border-radius: 50%;
    display: inline;
}