@import '~@ctrl/ngx-emoji-mart/picker';

.user-list{
    border-right: 1px solid var(--border-color-1);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    background-color: var(--bg-color-1);
}

.user{
    transition: 0.5s;
    border-bottom: 1px solid var(--border-color-1);
    border-radius: 1px;
    padding: 10px 25px;
    cursor: pointer;
}

.user:hover{
    transition: 1s;
    border-radius: 5px;
    background-color: var(--bg-color-2);
}

.profile-pic{
    border: 2px solid var(--border-color-1);
    border-radius: 50%;
    display: inline;
    width: 50px;
    padding: 5px;
    float: left;
}

.user-details{
    padding-left: 15px;
    float: left;
}

#UsersOnline{
    padding: 0;
}

#Messages{
    height: 100vh;
    overflow-y: scroll;
}

#ChatPage{
    overflow: hidden;
}

#MessageTextBoxSection{
    position: fixed;
    bottom: 0;
    width: 98%;
    border-top: 1px solid var(--border-color-1);
    height: 8vh;
    padding: 0;
    padding: 5px;
    background-color: var(--bg-color-1);
    z-index: 1;
}

#MessageTextBox{
    height: 30px;
    width: 70%;
    border-radius: 50px;
    background-color: var(--bg-color-2);
    border: 1px solid var(--border-color-1);
    padding: 1px 15px;
    color: blanchedalmond;
    margin-left: 15px;
}

#SendMessageBtn{
    border-radius: 50px;
    padding: auto 20px;
    margin-left: 10px;
    width: 10%;
}

#Emojies button{
    border-radius: 50px;
    padding: 5px 10px;
    width: 10%;
    float: left;
}

.messages{
    background-color: var(--bg-color-2);
    margin-bottom: 5vh;
    border-radius: 15px;
    border: 1px solid var(--border-color-1);
    padding: 15px;
    max-width: 50vw;
}

.sent{
    float: right;
}

.received{
    float: left;
}