<section id="ChatPage" class="animate__animated animate__fadeIn">
    <div id="UsersOnline" class="user-list container-fluid">
        <div class="row">
            <div class="user container-fluid">
                <div class="col-lg-4">
                    <img class="profile-pic" src="https://img.icons8.com/material-rounded/24/000000/user.png"/>
                </div>
                <div class="col-lg-8">
                    <div>User 1</div>
                    <div>Last Message</div>
                </div>
            </div>
            <div class="user container">
                <div class="col-lg-4">
                    <img class="profile-pic" src="https://img.icons8.com/material-rounded/24/000000/user.png"/>
                </div>
                <div class="col-lg-8">
                    <div>User 1</div>
                    <div>Last Message</div>
                </div>
            </div>
        </div>
    </div>
    <div id="ChattingArea" class="col-lg-8">
        Run of Applause
    </div>
</section>
