#HomePage .container div{
    background-color: var(--bg-color-2);
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 5%;
}
#HomePage .heading{
    text-align: center;
}

#HomePage ul{
    list-style: square;
}