<section id="HomePage">
    <div class="container">
        <div class="col-md-12 div-rgb-glow heading">
            <h1>Open Chat</h1>
        </div>
        <div class="col-md-12 div-rgb-glow">
            <p><b>A free, open source chatting app</b></p>
            <p><b>Backend</b></p>
            <ul>
                <li> <b>Backend Language</b> : Python</li>
                <li> <b>Http API Frameword</b> : Fast API</li>
                <li> <b>Socket</b> : Python Native Socket Library</li>
                <li> <b>Frontend</b> : Angular</li>
            </ul>
            <div class="container">
                <input class="col-md-6 btn-custom" type="button" value="Sign Up">
                <input class="col-md-6 btn-custom" type="button" value="Log In">
            </div>
        </div>
    </div>
</section>