/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0 auto;
    height: 100%;
}

body{
    font-family: monospace !important;
    background-color: #1d212b !important;
}