/* You can add global styles to this file, and also import other style files */
:root{
    --bg-color-1: #191d2a;
    --bg-color-2: #202124;
    --border-color-1: #303542;
    --btn-bg-color-1: #131010;
    --btn-bg-color-2: #303134;
}

html, body {
    margin: 0 auto;
    height: 100%;
}

body{
    font-family: monospace !important;
    background-color: var(--bg-color-1) !important;
    color: blanchedalmond !important;
}


.div-rgb-glow{
    position: relative;
    border-radius: 10px;
    animation: textColor 5s ease infinite;
}

.div-rgb-glow::after{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 5s ease infinite;
}

.messages{
    background-color: var(--bg-color-2);
    border-radius: 15px;
    border: 1px solid var(--border-color-1);
    max-width: 50vw;
    min-width: 5vw;
}

.sent{
    float: right;
}

.received{
  float: left;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes textColor {
    0% {
        color: #7e0fff;
    }
    50% {
        color: #0fffc1;
    }
    100% {
        color: #7e0fff;
    }
}

@keyframes buttonGlow {
    0% {
        /* background: #7e0fff; */
        text-shadow: 0px 0px 5px #7e0fff;
        color: #7e0fff;
    }
    50% {
        /* background: #0fffc1; */

        text-shadow: 0px 0px 5px #0fffc1;
        color: #0fffc1;
    }
    100% {
        /* background: #7e0fff; */
        text-shadow: 0px 0px 5px #7e0fff;
        color: #7e0fff;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

input[type=button], button{
    animation: textColor 5s ease infinite;
    background-color: var(--btn-bg-color-1);
    border: 1px solid var(--border-color-1);
    padding: 5px;
    border-radius: 5px;
}

input[type=button]:hover, button:hover{
    transition: 1s;
    cursor: pointer;
    animation: buttonGlow 5s ease infinite;
    background-color: var(--btn-bg-color-2);
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-color-1) var(--btn-bg-color-2);
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--btn-bg-color-2);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-1);
    border-radius: 20px;
    border: 3px solid var(--btn-bg-color-2);
  }
